a {
  color: white;
}

.container {
  min-height: 100vh;
  /* margin-top: -4rem; */
  padding-top: 2rem;
  background-image: url("../images/background_large_dark.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
  padding-bottom: 5rem;

}

.logoContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.menuButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.menuButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.menuButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.menuButton:hover span {
  padding-right: 25px;
}

.menuButton:hover span:after {
  opacity: 1;
  right: 0;
}


/* Mobile Screen */
@media only screen and (max-width: 767px) {
  .contentContainer {
    max-width: 80%;
  }
}

/* Desktop Screens */
@media only screen and (min-width: 768px) {
  .logo {
    min-height: 20rem;  
    max-height:30rem;
  }

  .contentContainer {
    max-width: 50%;
    
  }


}