a {
  color: white;
}

.container {
  min-height: 100vh;
  /* margin-top: -4rem; */
  padding-top: 2rem;
  background-image: url("../images/background_large_dark.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
  padding-bottom: 5rem;

}

.logoContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.menuButton {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #c1956c;
  color: #222222;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
}

.menuButton:hover {
  background-color: #ffffff;
  transition: 220ms all ease-in-out;
}

.menuButton:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #ffffff;
}

.buttonIcon {
  width: 2em;
  height: 2em;
  fill: currentColor;
  margin-right: 0.3em;
}

/* Mobile Screen */
@media only screen and (max-width: 767px) {
  .contentContainer {
    max-width: 80%;
  }
}

/* Desktop Screens */
@media only screen and (min-width: 768px) {
  .logo {
    min-height: 20rem;  
    max-height:30rem;
  }

  .contentContainer {
    max-width: 50%;
    
  }


}