html {
  background-color: black;
}

body {
  color: white;
}

.wrapper {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background_large_dark.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  -webkit-animation: fadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

.header,
.footer {
  height: 50px;
  background: #666;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  text-align: center;
  padding: 0;
  margin-top: 3rem;
}

li {
  list-style: none;
  display: inline-block;
  margin: 1rem 2rem;
}

li a {
  padding: 15px;
  border: 2px solid white;
  border-radius: 3%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
}

li a:hover {
  background-color: white;
  color: black;
}

.social {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  padding: 0.75rem;
  margin: 2rem;
  -webkit-animation: fadeIndelay 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  animation: fadeIndelay 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}

.social a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.social img:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}

.fadeIndelay {
  -webkit-animation: fadeIndelay 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  animation: fadeIndelay 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}

/**
 * ----------------------------------------
 * animation fadeIndelay
 * ----------------------------------------
 */
@-webkit-keyframes fadeIndelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIndelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fadeIn
 * ----------------------------------------
 */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
