body {
  margin: 0;
  color: #fff;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/background_large_dark.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.header,
.footer {
  height: 50px;
  background: #666;
}
.content {
  flex: 1;
  display: flex;
  color: #000;
}
.columns {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  margin: 0 1rem;
}
.half {
  flex: 1;
  margin: 2rem;
  min-width: 300px;
  padding: 1rem;
  text-align: center;
  background-color: #ffffff;
  opacity: 0.3;
}
