.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/background_large_dark.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.header,
.footer {
  height: 50px;
  background: #666;
}
.content {
  flex: 1;
  display: flex;
  color: #000;
}
.columns {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
}
.lefthalf {
  flex: 1;
  min-width: 500px;
  text-align: center;
  background-color: #ff851bda;
  padding: 6rem 2rem 2rem 2rem;
}
.righthalf {
  flex: 1;
  min-width: 500px;
  text-align: center;
}

.halfBorder {
  border: 1px solid white;
  background: rgb(255, 255, 255,0.2);
  padding: 2rem;
  margin: 4rem;
}

.logo {
  max-width: 300px;
}